# First steps with MongoDB and PyMongo


*   Connection to Mongo
*   Basic database, collection management
*   CRUD  one document
*   CRUD  many documents

# 1. Install PyMongo (if required)

In [1]:
# Instaling PyMongo, this is the interface to connect to MongoDB with Python
! python -m pip install pymongo==3.7.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo==3.7.2
  Downloading pymongo-3.7.2-cp37-cp37m-manylinux1_x86_64.whl (406 kB)
     |████████████████████████████████| 406 kB 5.6 MB/s
Installing collected packages: pymongo
  Attempting uninstall: pymongo
    Found existing installation: pymongo 4.1.1
    Uninstalling pymongo-4.1.1:
      Successfully uninstalled pymongo-4.1.1
Successfully installed pymongo-3.7.2

#2. Import PyMongo and establish connection

To practice MongoDB, you can use a free service with limited storage to train or test your code.

Here for the example, I use https://www.clever-cloud.com/en/

Other services:

https://studio3t.com/knowledge-base/articles/cheap-free-mongodb-hosting/

In [2]:
import datetime                            # Imports datetime library

import pymongo
from pymongo import MongoClient

# uri (uniform resource identifier) defines the connection parameters 
# uri = 'mongodb://u1kkdrchfjim80tclysv:FeesC2ACNmI7be61RTst@brny4kjelauboxl-mongodb.services.clever-cloud.com:27017/brny4kjelauboxl'
uri = 'mongodb://uwczebggdchhvkj1uyzy:SdiO2szMNEM6THOqIaa9@beqbzkzp1knusxd-mongodb.services.clever-cloud.com:27017/beqbzkzp1knusxd'
# start client to connect to MongoDB server 
client = MongoClient( uri )

In [3]:
client.stats                                # .stats  show details about the client

Database(MongoClient(host=['beqbzkzp1knusxd-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'stats')

# 3. Basic Database management operations

In [4]:
# Show existing database names
client.list_database_names()

['beqbzkzp1knusxd']

In [5]:
# Set database name to work with. If it doesn't exist, it will be created as soon as one document is added.
db = client.beqbzkzp1knusxd

In [6]:
# Delete a database
client.drop_database('beqbzkzp1knusxd')

#4. Basic Collection management operations

In [7]:
# Create a new collection. We can create the collection or leave to MongoDB to create it as soon as a document is generated.
db.create_collection('adressbook')       # Optional collection creation

Collection(Database(MongoClient(host=['beqbzkzp1knusxd-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'beqbzkzp1knusxd'), 'adressbook')

In [8]:
# Show Collections. Query returns a Cursor [ ] ,  list it to see the content
list (db.list_collections())
# empty list '[]' means that there are not collections in database

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'beqbzkzp1knusxd.adressbook',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': UUID('565d5a2b-5e93-4717-b718-1e8692c958c1')},
  'name': 'adressbook',
  'options': {},
  'type': 'collection'}]

In [9]:
# Set the collection to work with
collection = db.adressbook
collection.insert_one({'name' : 'jordi'})     # Insert one item to create the collection
list (collection.find())                  # Show the existing collections

[{'_id': ObjectId('6291e1144c5577003be897d9'), 'name': 'jordi'}]

In [10]:
# Rename a collections
db.adressbook.rename('addressbook')
collection = db.addressbook                   # Set the collection to work with
list (db.list_collections())                  # Show the existing collections

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'beqbzkzp1knusxd.addressbook',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': UUID('565d5a2b-5e93-4717-b718-1e8692c958c1')},
  'name': 'addressbook',
  'options': {},
  'type': 'collection'}]

In [11]:
# Delete collection
db.drop_collection('addressbook')

{'$clusterTime': {'clusterTime': Timestamp(1653727509, 65),
  'signature': {'hash': b',\x7f\xe5w\xee\x89)\xafS\x10\x1a(\x93\xc3\xd5\x17\x86\xe3\xdf*',
   'keyId': 7049308670210867201}},
 'nIndexesWas': 1,
 'ns': 'beqbzkzp1knusxd.addressbook',
 'ok': 1.0,
 'operationTime': Timestamp(1653727509, 65)}

# 5. Basic Collection operations

##5.1 Query Operators - Create Read Update Delete  (one document)

### 5.1.1 Create a document with:  insert_one()

To insert a document can be done using: insert_one and JavaScript notation  { 'attributeName1'  :  'content1', 'attributeName2'  :  'content2', ... }

In [12]:
#@title Contact

Name = "Jordi " #@param {type:"string"}
Age = 34 #@param {type:"slider", min:10, max:80, step:1}
Gender = "Male" #@param ["Male", "Female"]
Likes_Python = "Yes" #@param ["Yes", "No"]
if Likes_Python is "Yes":
  Likes_Python = True
else:
  Likes_Python = False


#@markdown Address
Street = "Torrent de l'Olla" #@param {type:"string"}
Number = 70 #@param {type:"integer"}
City = "Barcelona" #@param {type:"string"}
PostalCode = "08012" #@param {type:"string"}

In [13]:
data = {  'name' : Name ,                                    # String 
          'age' : Age,                                       # Integer
          'gender' : Gender,                                 # String 
          'likes_python' : Likes_Python,                     # Boolean
          'address': {
              'street' : Street,                             # String ( special character with escape \ )
              'number' : Number,                             # Integer
              'city' : City,                                 # String 
              'floor' : None,                                # Null 
              'postalcode' : PostalCode,                     # String containing a number
              },
          'favouriteFruits': ['banana','pineapple','orange'] # Array        
       }

insert_result = collection.insert_one( data)

In [14]:
insert_result.acknowledged    # Confirms that insert is successful

True

In [15]:
insert_result.inserted_id     # Shows the document ID

ObjectId('6291e1154c5577003be897da')

###5.1.2 Read document with:  find()

To read a document can be done using: find and JavaScript notation  {  'attribute1 containing the key'  :  'key1 to find' }

In [16]:
list ( collection.find() )                                      # gets all data of collection

[{'_id': ObjectId('6291e1154c5577003be897da'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [17]:
list ( collection.find( {'_id' : insert_result.inserted_id } ))  # Find the inserted document using the objectID

[{'_id': ObjectId('6291e1154c5577003be897da'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [18]:
list ( collection.find( {'name' : Name } ))                     # find, can use one key or more

[{'_id': ObjectId('6291e1154c5577003be897da'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [19]:
list ( collection.find( {'address.city' : City } ))             # find, can use one key or more

[{'_id': ObjectId('6291e1154c5577003be897da'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [20]:
list ( collection.find().limit(1) )                             # gets a Limited set of documents

[{'_id': ObjectId('6291e1154c5577003be897da'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [21]:
list ( collection.find().skip(1) )                              # gets all documents skipping first

[]

###5.1.3 Update a document with:  update_one()

In [22]:
## Update an existing document
update_result = collection.update_one( 
    {'name' : Name}, 
    {'$set' : { 'age' : 30 }} ) 

list (collection.find( {'name' : Name } ))

# Alternative : collection.find_one_and_update( {'name' : Name}, {'$set' : { 'age' : 30 }} )

[{'_id': ObjectId('6291e1154c5577003be897da'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 30,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [23]:
update_result.raw_result

{'$clusterTime': {'clusterTime': Timestamp(1653727510, 56),
  'signature': {'hash': b'h.\xff\xdb/\xdb\x08b\x94\x00\xaa\xd5\xb5Z\x0e\x03\xdfG\xce\xb2',
   'keyId': 7049308670210867201}},
 'electionId': ObjectId('7fffffff000000000000012b'),
 'n': 1,
 'nModified': 1,
 'ok': 1.0,
 'opTime': {'t': 299, 'ts': Timestamp(1653727510, 56)},
 'operationTime': Timestamp(1653727510, 56),
 'updatedExisting': True}

In [24]:
## Insert a new document with update, will avoid to crash during insert if document already exist
insert_result = collection.update_one( {'name' : 'Javi Gonzalez'}, {'$set' : { 'age' : 30 }}, upsert= True )
list (collection.find( {'name' : 'Javi Gonzalez'} ))

[{'_id': ObjectId('6291e11640c65683d0411550'),
  'age': 30,
  'name': 'Javi Gonzalez'}]

In [25]:
update_result.acknowledged

True

###5.1.4 Delete a document with:  delete_one()

In [26]:
delete = collection.delete_one({'name': 'Javi Gonzalez'})

In [27]:
delete.deleted_count   # informs that 1 document has been deleted

1

In [28]:
collection.delete_one({'name': Name})

##5.2 Create Read Update Delete  (many document)

###5.2.1 Create a document with:  insert_many()

To insert many documents can be done using: insert_many and JavaScript notation  { 'attributeDocument1'  :  'content1' } , { 'attributeDocument2'  :  'content2'},{ ... }

In [29]:
import datetime
collection.insert_many(  [                          # <---- start a list with [
##  Insert Document 1
  {
  'name': 'Jordi Gonzalez',
  'age': 25,
  'likes_python': True,
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39),
  'address': {
      'street': 'Torrent de l\'Olla',
      'number': 70,
      'floor': None,
      'city': 'Barcelona',
      'postalCode': '08012'
             },
  'height':  1.72,
  'favouriteFruits': ['banana','pineapple','orange']
  },

##  Insert Document 2
  {
  'name': 'Maria Smith',
  'age': 30,
  'likes_python': True,
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12),
  'address': {
      'street': 'Numancia',
                                                     ##  missing number
                                                     ##  missing floor
      'city': 'Barcelona',
      'postalCode': '08029'
             },
  'height':  1.56,
  'favouriteFruits': ['lemon','pineapple']
  }
  ]   )                                                   # <---- finalize the list ]

###5.2.2 Read many documents with:  find()

To read a document can be done using: find and JavaScript notation  {  'attribute1 containing the key'  :  'key1 to find' }

In [30]:
list ( collection.find( {'$or': [ {'name': 'Jordi Gonzalez'},{'name': 'Maria Smith'} ]}))        # find

[{'_id': ObjectId('6291e1174c5577003be897db'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalCode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 25,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'height': 1.72,
  'likes_python': True,
  'name': 'Jordi Gonzalez',
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39)},
 {'_id': ObjectId('6291e1174c5577003be897dc'),
  'address': {'city': 'Barcelona',
   'postalCode': '08029',
   'street': 'Numancia'},
  'age': 30,
  'favouriteFruits': ['lemon', 'pineapple'],
  'height': 1.56,
  'likes_python': True,
  'name': 'Maria Smith',
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12)}]

###5.2.3 Update many documents with:  update_many()

In [31]:
collection.update_many( {'isActive': True }, {'$set' : { 'isActive': False }} )
list (collection.find( ))                                  # List all documents

[{'_id': ObjectId('6291e1174c5577003be897db'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalCode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 25,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'height': 1.72,
  'likes_python': True,
  'name': 'Jordi Gonzalez',
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39)},
 {'_id': ObjectId('6291e1174c5577003be897dc'),
  'address': {'city': 'Barcelona',
   'postalCode': '08029',
   'street': 'Numancia'},
  'age': 30,
  'favouriteFruits': ['lemon', 'pineapple'],
  'height': 1.56,
  'likes_python': True,
  'name': 'Maria Smith',
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12)}]

###5.2.4 Delete many documents with:  delete_many()

In [32]:
delete = collection.delete_many({'likes_python': True})    # deletes as many documents as the filter
list (collection.find( ))                                  # List all documents

[]

In [33]:
delete.deleted_count   # items deleted

2

# Assignment: Create your own collection
1- Create a collection with your name "name_surname"

2- Read california housing test dataset in sample_data folder in a pandas data frame.

3- Insert the pandas dataframe into your collection.

4- Retrieve the records from the collection having 'median_house_value' greater than 100000

5- Save those selected records to sample_data folder as a CSV file.

In [34]:
# Write your code here!
list (db.list_collections())

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'beqbzkzp1knusxd.addressbook',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': UUID('09d2ea7b-3b96-4039-99f1-7e0beab3204b')},
  'name': 'addressbook',
  'options': {},
  'type': 'collection'}]

In [35]:
db.create_collection('Hamza_Dehidi')
collection = db.Hamza_Dehidi

In [36]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [37]:
collection.insert_many(df.to_dict('records'))

In [38]:
list ( collection.find( { 'median_house_value': { '$gt': 100000 } } ))

[{'_id': ObjectId('6291e1184c5577003be897dd'),
  'households': 606.0,
  'housing_median_age': 27.0,
  'latitude': 37.37,
  'longitude': -122.05,
  'median_house_value': 344700.0,
  'median_income': 6.6085,
  'population': 1537.0,
  'total_bedrooms': 661.0,
  'total_rooms': 3885.0},
 {'_id': ObjectId('6291e1184c5577003be897de'),
  'households': 277.0,
  'housing_median_age': 43.0,
  'latitude': 34.26,
  'longitude': -118.3,
  'median_house_value': 176500.0,
  'median_income': 3.599,
  'population': 809.0,
  'total_bedrooms': 310.0,
  'total_rooms': 1510.0},
 {'_id': ObjectId('6291e1184c5577003be897df'),
  'households': 495.0,
  'housing_median_age': 27.0,
  'latitude': 33.78,
  'longitude': -117.81,
  'median_house_value': 270500.0,
  'median_income': 5.7934,
  'population': 1484.0,
  'total_bedrooms': 507.0,
  'total_rooms': 3589.0},
 {'_id': ObjectId('6291e1184c5577003be897e0'),
  'households': 11.0,
  'housing_median_age': 28.0,
  'latitude': 33.82,
  'longitude': -118.36,
  'median_house_value': 330000.0,
  'median_income': 6.1359,
  'population': 49.0,
  'total_bedrooms': 15.0,
  'total_rooms': 67.0},
 {'_id': ObjectId('6291e1184c5577003be897e4'),
  'households': 441.0,
  'housing_median_age': 19.0,
  'latitude': 35.48,
  'longitude': -120.65,
  'median_house_value': 166900.0,
  'median_income': 3.225,
  'population': 1341.0,
  'total_bedrooms': 471.0,
  'total_rooms': 2310.0},
 {'_id': ObjectId('6291e1184c5577003be897e5'),
  'households': 599.0,
  'housing_median_age': 15.0,
  'latitude': 38.4,
  'longitude': -122.84,
  'median_house_value': 194400.0,
  'median_income': 3.6696,
  'population': 1446.0,
  'total_bedrooms': 617.0,
  'total_rooms': 3080.0},
 {'_id': ObjectId('6291e1184c5577003be897e6'),
  'households': 603.0,
  'housing_median_age': 31.0,
  'latitude': 34.08,
  'longitude': -118.02,
  'median_house_value': 164200.0,
  'median_income': 2.3333,
  'population': 2830.0,
  'total_bedrooms': 632.0,
  'total_rooms': 2402.0},
 {'_id': ObjectId('6291e1184c5577003be897e7'),
  'households': 261.0,
  'housing_median_age': 45.0,
  'latitude': 33.98,
  'longitude': -118.24,
  'median_house_value': 125000.0,
  'median_income': 2.2054,
  'population': 1288.0,
  'total_bedrooms': 249.0,
  'total_rooms': 972.0},
 {'_id': ObjectId('6291e1184c5577003be897e9'),
  'households': 170.0,
  'housing_median_age': 36.0,
  'latitude': 37.25,
  'longitude': -121.93,
  'median_house_value': 252600.0,
  'median_income': 4.69,
  'population': 535.0,
  'total_bedrooms': 182.0,
  'total_rooms': 1089.0},
 {'_id': ObjectId('6291e1184c5577003be897ea'),
  'households': 659.0,
  'housing_median_age': 16.0,
  'latitude': 32.97,
  'longitude': -117.03,
  'median_house_value': 231200.0,
  'median_income': 4.5625,
  'population': 1935.0,
  'total_bedrooms': 694.0,
  'total_rooms': 3936.0},
 {'_id': ObjectId('6291e1184c5577003be897eb'),
  'households': 331.0,
  'housing_median_age': 27.0,
  'latitude': 33.73,
  'longitude': -117.97,
  'median_house_value': 222500.0,
  'median_income': 5.7121,
  'population': 1217.0,
  'total_bedrooms': 325.0,
  'total_rooms': 2097.0},
 {'_id': ObjectId('6291e1184c5577003be897ec'),
  'households': 50.0,
  'housing_median_age': 42.0,
  'latitude': 33.81,
  'longitude': -117.99,
  'median_house_value': 153100.0,
  'median_income': 2.2,
  'population': 157.0,
  'total_bedrooms': 40.0,
  'total_rooms': 161.0},
 {'_id': ObjectId('6291e1184c5577003be897ed'),
  'households': 107.0,
  'housing_median_age': 15.0,
  'latitude': 37.53,
  'longitude': -120.81,
  'median_house_value': 181300.0,
  'median_income': 1.875,
  'population': 189.0,
  'total_bedrooms': 123.0,
  'total_rooms': 570.0},
 {'_id': ObjectId('6291e1184c5577003be897ee'),
  'households': 595.0,
  'housing_median_age': 26.0,
  'latitude': 38.69,
  'longitude': -121.2,
  'median_house_value': 137500.0,
  'median_income': 2.7174,
  'population': 1603.0,
  'total_bedrooms': 607.0,
  'total_rooms': 3077.0},
 {'_id': ObjectId('6291e1184c5577003be897ef'),
  'households': 199.0,
  'housing_median_age': 26.0,
  'latitude': 34.21,
  'longitude': -118.88,
  'median_house_value': 300000.0,
  'median_income': 6.5851,
  'population': 654.0,
  'total_bedrooms': 196.0,
  'total_rooms': 1590.0},
 {'_id': ObjectId('6291e1184c5577003be897f0'),
  'households': 1258.0,
  'housing_median_age': 35.0,
  'latitude': 38.01,
  'longitude': -122.59,
  'median_house_value': 414300.0,
  'median_income': 6.1724,
  'population': 3450.0,
  'total_bedrooms': 1307.0,
  'total_rooms': 8814.0},
 {'_id': ObjectId('6291e1184c5577003be897f1'),
  'households': 255.0,
  'housing_median_age': 40.0,
  'latitude': 37.75,
  'longitude': -122.15,
  'median_house_value': 126300.0,
  'median_income': 3.8913,
  'population': 849.0,
  'total_bedrooms': 256.0,
  'total_rooms': 1445.0},
 {'_id': ObjectId('6291e1184c5577003be897f3'),
  'households': 561.0,
  'housing_median_age': 47.0,
  'latitude': 34.07,
  'longitude': -118.16,
  'median_house_value': 241500.0,
  'median_income': 3.8644,
  'population': 1651.0,
  'total_bedrooms': 543.0,
  'total_rooms': 2994.0},
 {'_id': ObjectId('6291e1184c5577003be897f4'),
  'households': 480.0,
  'housing_median_age': 45.0,
  'latitude': 37.79,
  'longitude': -122.2,
  'median_house_value': 115400.0,
  'median_income': 2.7788,
  'population': 1410.0,
  'total_bedrooms': 528.0,
  'total_rooms': 2021.0},
 {'_id': ObjectId('6291e1184c5577003be897f5'),
  'households': 940.0,
  'housing_median_age': 13.0,
  'latitude': 33.28,
  'longitude': -117.28,
  'median_house_value': 150700.0,
  'median_income': 3.8156,
  'population': 4049.0,
  'total_bedrooms': 1040.0,
  'total_rooms': 6131.0},
 {'_id': ObjectId('6291e1184c5577003be897f6'),
  'households': 225.0,
  'housing_median_age': 36.0,
  'latitude': 34.16,
  'longitude': -118.03,
  'median_house_value': 484700.0,
  'median_income': 7.1615,
  'population': 667.0,
  'total_bedrooms': 218.0,
  'total_rooms': 1401.0},
 {'_id': ObjectId('6291e1184c5577003be897f7'),
  'households': 979.0,
  'housing_median_age': 52.0,
  'latitude': 37.76,
  'longitude': -122.42,
  'median_house_value': 250000.0,
  'median_income': 2.5403,
  'population': 2259.0,
  'total_bedrooms': 1030.0,
  'total_rooms': 3587.0},
 {'_id': ObjectId('6291e1184c5577003be897f8'),
  'households': 402.0,
  'housing_median_age': 32.0,
  'latitude': 33.99,
  'longitude': -118.39,
  'median_house_value': 369200.0,
  'median_income': 6.603,
  'population': 1030.0,
  'total_bedrooms': 418.0,
  'total_rooms': 2612.0},
 {'_id': ObjectId('6291e1184c5577003be897f9'),
  'households': 1539.0,
  'housing_median_age': 19.0,
  'latitude': 34.07,
  'longitude': -118.45,
  'median_house_value': 350000.0,
  'median_income': 1.583,
  'population': 3751.0,
  'total_bedrooms': 1609.0,
  'total_rooms': 4845.0},
 {'_id': ObjectId('6291e1184c5577003be897fa'),
  'households': 901.0,
  'housing_median_age': 30.0,
  'latitude': 34.01,
  'longitude': -118.48,
  'median_house_value': 425000.0,
  'median_income': 3.4852,
  'population': 1561.0,
  'total_bedrooms': 954.0,
  'total_rooms': 3078.0},
 {'_id': ObjectId('6291e1184c5577003be897fb'),
  'households': 229.0,
  'housing_median_age': 14.0,
  'latitude': 36.33,
  'longitude': -119.35,
  'median_house_value': 105600.0,
  'median_income': 3.1486,
  'population': 568.0,
  'total_bedrooms': 220.0,
  'total_rooms': 1195.0},
 {'_id': ObjectId('6291e1184c5577003be897fc'),
  'households': 500.0,
  'housing_median_age': 34.0,
  'latitude': 33.91,
  'longitude': -118.3,
  'median_house_value': 172600.0,
  'median_income': 2.6182,
  'population': 1530.0,
  'total_bedrooms': 493.0,
  'total_rooms': 1617.0},
 {'_id': ObjectId('6291e1184c5577003be897fd'),
  'households': 619.0,
  'housing_median_age': 17.0,
  'latitude': 39.31,
  'longitude': -121.13,
  'median_house_value': 128900.0,
  'median_income': 2.8102,
  'population': 1693.0,
  'total_bedrooms': 705.0,
  'total_rooms': 3442.0},
 {'_id': ObjectId('6291e1184c5577003be897fe'),
  'households': 2651.0,
  'housing_median_age': 5.0,
  'latitude': 34.55,
  'longitude': -118.08,
  'median_house_value': 141800.0,
  'median_income': 4.5237,
  'population': 8152.0,
  'total_bedrooms': 2971.0,
  'total_rooms': 16181.0},
 {'_id': ObjectId('6291e1184c5577003be897ff'),
  'households': 169.0,
  'housing_median_age': 38.0,
  'latitude': 33.94,
  'longitude': -118.32,
  'median_house_value': 183800.0,
  'median_income': 4.6389,
  'population': 499.0,
  'total_bedrooms': 170.0,
  'total_rooms': 1067.0},
 {'_id': ObjectId('6291e1184c5577003be89800'),
  'households': 728.0,
  'housing_median_age': 33.0,
  'latitude': 34.0,
  'longitude': -118.11,
  'median_house_value': 178700.0,
  'median_income': 2.625,
  'population': 2650.0,
  'total_bedrooms': 726.0,
  'total_rooms': 2886.0},
 {'_id': ObjectId('6291e1184c5577003be89801'),
  'households': 419.0,
  'housing_median_age': 52.0,
  'latitude': 37.97,
  'longitude': -122.53,
  'median_house_value': 270800.0,
  'median_income': 2.5125,
  'population': 700.0,
  'total_bedrooms': 451.0,
  'total_rooms': 1560.0},
 {'_id': ObjectId('6291e1184c5577003be89802'),
  'households': 277.0,
  'housing_median_age': 34.0,
  'latitude': 33.92,
  'longitude': -118.02,
  'median_house_value': 185300.0,
  'median_income': 5.5238,
  'population': 956.0,
  'total_bedrooms': 251.0,
  'total_rooms': 1478.0},
 {'_id': ObjectId('6291e1184c5577003be89803'),
  'households': 190.0,
  'housing_median_age': 31.0,
  'latitude': 33.93,
  'longitude': -118.05,
  'median_house_value': 141500.0,
  'median_income': 3.6771,
  'population': 883.0,
  'total_bedrooms': 203.0,
  'total_rooms': 894.0},
 {'_id': ObjectId('6291e1184c5577003be89804'),
  'households': 985.0,
  'housing_median_age': 11.0,
  'latitude': 34.23,
  'longitude': -119.01,
  'median_house_value': 232200.0,
  'median_income': 4.693,
  'population': 2760.0,
  'total_bedrooms': 1035.0,
  'total_rooms': 5785.0},
 {'_id': ObjectId('6291e1184c5577003be89806'),
  'households': 429.0,
  'housing_median_age': 16.0,
  'latitude': 32.77,
  'longitude': -116.92,
  'median_house_value': 275000.0,
  'median_income': 6.6783,
  'population': 1269.0,
  'total_bedrooms': 406.0,
  'total_rooms': 2770.0},
 {'_id': ObjectId('6291e1184c5577003be89807'),
  'households': 226.0,
  'housing_median_age': 37.0,
  'latitude': 34.15,
  'longitude': -118.06,
  'median_house_value': 500001.0,
  'median_income': 15.0001,
  'population': 697.0,
  'total_bedrooms': 226.0,
  'total_rooms': 1980.0},
 {'_id': ObjectId('6291e1184c5577003be89809'),
  'households': 294.0,
  'housing_median_age': 48.0,
  'latitude': 34.13,
  'longitude': -118.23,
  'median_house_value': 214800.0,
  'median_income': 4.2891,
  'population': 835.0,
  'total_bedrooms': 286.0,
  'total_rooms': 1308.0},
 {'_id': ObjectId('6291e1184c5577003be8980a'),
  'households': 1672.0,
  'housing_median_age': 4.0,
  'latitude': 33.17,
  'longitude': -117.24,
  'median_house_value': 237500.0,
  'median_income': 4.2826,
  'population': 3925.0,
  'total_bedrooms': 1874.0,
  'total_rooms': 9998.0},
 {'_id': ObjectId('6291e1184c5577003be8980b'),
  'households': 242.0,
  'housing_median_age': 24.0,
  'latitude': 37.44,
  'longitude': -121.91,
  'median_house_value': 212500.0,
  'median_income': 5.0808,
  'population': 799.0,
  'total_bedrooms': 251.0,
  'total_rooms': 1212.0},
 {'_id': ObjectId('6291e1184c5577003be8980c'),
  'households': 329.0,
  'housing_median_age': 47.0,
  'latitude': 33.94,
  'longitude': -118.29,
  'median_house_value': 105700.0,
  'median_income': 2.5398,
  'population': 1003.0,
  'total_bedrooms': 338.0,
  'total_rooms': 1782.0},
 {'_id': ObjectId('6291e1184c5577003be8980d'),
  'households': 350.0,
  'housing_median_age': 6.0,
  'latitude': 38.0,
  'longitude': -121.35,
  'median_house_value': 123800.0,
  'median_income': 3.4231,
  'population': 732.0,
  'total_bedrooms': 369.0,
  'total_rooms': 1649.0},
 {'_id': ObjectId('6291e1184c5577003be8980e'),
  'households': 1593.0,
  'housing_median_age': 19.0,
  'latitude': 33.78,
  'longitude': -117.99,
  'median_house_value': 173900.0,
  'median_income': 3.1049,
  'population': 3554.0,
  'total_bedrooms': 1698.0,
  'total_rooms': 7399.0},
 {'_id': ObjectId('6291e1184c5577003be8980f'),
  'households': 1780.0,
  'housing_median_age': 14.0,
  'latitude': 37.7,
  'longitude': -120.99,
  'median_house_value': 160900.0,
  'median_income': 3.5877,
  'population': 4356.0,
  'total_bedrooms': 1887.0,
  'total_rooms': 9849.0},
 {'_id': ObjectId('6291e1184c5577003be89811'),
  'households': 464.0,
  'housing_median_age': 39.0,
  'latitude': 37.8,
  'longitude': -122.21,
  'median_house_value': 156500.0,
  'median_income': 3.0682,
  'population': 1109.0,
  'total_bedrooms': 500.0,
  'total_rooms': 2003.0},
 {'_id': ObjectId('6291e1184c5577003be89812'),
  'households': 366.0,
  'housing_median_age': 26.0,
  'latitude': 33.8,
  'longitude': -118.17,
  'median_house_value': 187500.0,
  'median_income': 3.5313,
  'population': 883.0,
  'total_bedrooms': 380.0,
  'total_rooms': 1589.0},
 {'_id': ObjectId('6291e1184c5577003be89813'),
  'households': 335.0,
  'housing_median_age': 39.0,
  'latitude': 34.09,
  'longitude': -117.9,
  'median_house_value': 191800.0,
  'median_income': 4.3409,
  'population': 892.0,
  'total_bedrooms': 333.0,
  'total_rooms': 1726.0},
 {'_id': ObjectId('6291e1184c5577003be89814'),
  'households': 229.0,
  'housing_median_age': 36.0,
  'latitude': 33.93,
  'longitude': -117.99,
  'median_house_value': 175800.0,
  'median_income': 4.8523,
  'population': 779.0,
  'total_bedrooms': 233.0,
  'total_rooms': 1287.0},
 {'_id': ObjectId('6291e1184c5577003be89816'),
  'households': 468.0,
  'housing_median_age': 26.0,
  'latitude': 34.26,
  'longitude': -118.77,
  'median_house_value': 196900.0,
  'median_income': 5.6385,
  'population': 1825.0,
  'total_bedrooms': 468.0,
  'total_rooms': 3038.0},
 {'_id': ObjectId('6291e1184c5577003be89817'),
  'households': 282.0,
  'housing_median_age': 44.0,
  'latitude': 37.33,
  'longitude': -121.93,
  'median_house_value': 292200.0,
  'median_income': 3.575,
  'population': 676.0,
  'total_bedrooms': 291.0,
  'total_rooms': 1449.0},
 {'_id': ObjectId('6291e1184c5577003be89818'),
  'households': 586.0,
  'housing_median_age': 16.0,
  'latitude': 37.25,
  'longitude': -121.82,
  'median_house_value': 194300.0,
  'median_income': 3.9461,
  'population': 1969.0,
  'total_bedrooms': 600.0,
  'total_rooms': 2650.0},
 {'_id': ObjectId('6291e1184c5577003be89819'),
  'households': 139.0,
  'housing_median_age': 36.0,
  'latitude': 37.56,
  'longitude': -122.29,
  'median_house_value': 289400.0,
  'median_income': 5.8221,
  'population': 445.0,
  'total_bedrooms': 140.0,
  'total_rooms': 805.0},
 {'_id': ObjectId('6291e1184c5577003be8981a'),
  'households': 285.0,
  'housing_median_age': 18.0,
  'latitude': 37.23,
  'longitude': -121.78,
  'median_house_value': 229100.0,
  'median_income': 5.898,
  'population': 1055.0,
  'total_bedrooms': 317.0,
  'total_rooms': 1747.0},
 {'_id': ObjectId('6291e1184c5577003be8981b'),
  'households': 307.0,
  'housing_median_age': 35.0,
  'latitude': 34.0,
  'longitude': -118.41,
  'median_house_value': 265500.0,
  'median_income': 2.7153,
  'population': 1026.0,
  'total_bedrooms': 305.0,
  'total_rooms': 1062.0},
 {'_id': ObjectId('6291e1184c5577003be8981d'),
  'households': 404.0,
  'housing_median_age': 26.0,
  'latitude': 33.92,
  'longitude': -118.0,
  'median_house_value': 289600.0,
  'median_income': 6.1273,
  'population': 1204.0,
  'total_bedrooms': 399.0,
  'total_rooms': 2830.0},
 {'_id': ObjectId('6291e1184c5577003be8981e'),
  'households': 729.0,
  'housing_median_age': 38.0,
  'latitude': 32.73,
  'longitude': -117.22,
  'median_house_value': 291400.0,
  'median_income': 3.8409,
  'population': 1640.0,
  'total_bedrooms': 768.0,
  'total_rooms': 3966.0},
 {'_id': ObjectId('6291e1184c5577003be8981f'),
  'households': 1123.0,
  'housing_median_age': 19.0,
  'latitude': 37.69,
  'longitude': -121.08,
  'median_house_value': 129300.0,
  'median_income': 3.2246,
  'population': 3559.0,
  'total_bedrooms': 1212.0,
  'total_rooms': 6473.0},
 {'_id': ObjectId('6291e1184c5577003be89820'),
  'households': 228.0,
  'housing_median_age': 12.0,
  'latitude': 33.92,
  'longitude': -117.53,
  'median_house_value': 233500.0,
  'median_income': 6.1561,
  'population': 728.0,
  'total_bedrooms': 319.0,
  'total_rooms': 2290.0},
 {'_id': ObjectId('6291e1184c5577003be89821'),
  'households': 702.0,
  'housing_median_age': 18.0,
  'latitude': 34.08,
  'longitude': -117.46,
  'median_house_value': 120700.0,
  'median_income': 3.6602,
  'population': 2767.0,
  'total_bedrooms': 750.0,
  'total_rooms': 3830.0},
 {'_id': ObjectId('6291e1184c5577003be89822'),
  'households': 378.0,
  'housing_median_age': 35.0,
  'latitude': 33.86,
  'longitude': -117.97,
  'median_house_value': 174300.0,
  'median_income': 3.5855,
  'population': 1265.0,
  'total_bedrooms': 367.0,
  'total_rooms': 1691.0},
 {'_id': ObjectId('6291e1184c5577003be89823'),
  'households': 387.0,
  'housing_median_age': 52.0,
  'latitude': 37.33,
  'longitude': -121.92,
  'median_house_value': 299500.0,
  'median_income': 5.2831,
  'population': 930.0,
  'total_bedrooms': 382.0,
  'total_rooms': 2125.0},
 {'_id': ObjectId('6291e1184c5577003be89824'),
  'households': 515.0,
  'housing_median_age': 44.0,
  'latitude': 34.04,
  'longitude': -118.2,
  'median_house_value': 125000.0,
  'median_income': 1.6888,
  'population': 1998.0,
  'total_bedrooms': 544.0,
  'total_rooms': 1582.0},
 {'_id': ObjectId('6291e1184c5577003be89825'),
  'households': 404.0,
  'housing_median_age': 22.0,
  'latitude': 33.8,
  'longitude': -118.06,
  'median_house_value': 212500.0,
  'median_income': 4.1379,
  'population': 1015.0,
  'total_bedrooms': 442.0,
  'total_rooms': 1892.0},
 {'_id': ObjectId('6291e1184c5577003be89826'),
  'households': 384.0,
  'housing_median_age': 34.0,
  'latitude': 37.36,
  'longitude': -122.05,
  'median_house_value': 316900.0,
  'median_income': 4.1369,
  'population': 1017.0,
  'total_bedrooms': 419.0,
  'total_rooms': 2400.0},
 {'_id': ObjectId('6291e1184c5577003be89827'),
  'households': 274.0,
  'housing_median_age': 24.0,
  'latitude': 39.5,
  'longitude': -123.79,
  'median_house_value': 157300.0,
  'median_income': 2.325,
  'population': 588.0,
  'total_bedrooms': 291.0,
  'total_rooms': 1421.0},
 {'_id': ObjectId('6291e1184c5577003be89828'),
  'households': 234.0,
  'housing_median_age': 44.0,
  'latitude': 37.49,
  'longitude': -120.79,
  'median_house_value': 160700.0,
  'median_income': 3.4167,
  'population': 687.0,
  'total_bedrooms': 225.0,
  'total_rooms': 1186.0},
 {'_id': ObjectId('6291e1184c5577003be89829'),
  'households': 606.0,
  'housing_median_age': 47.0,
  'latitude': 37.35,
  'longitude': -121.89,
  'median_house_value': 183100.0,
  'median_income': 3.2599,
  'population': 2229.0,
  'total_bedrooms': 631.0,
  'total_rooms': 2879.0},
 {'_id': ObjectId('6291e1184c5577003be8982a'),
  'households': 679.0,
  'housing_median_age': 29.0,
  'latitude': 34.2,
  'longitude': -118.43,
  'median_house_value': 238100.0,
  'median_income': 3.1118,
  'population': 1942.0,
  'total_bedrooms': 694.0,
  'total_rooms': 3051.0},
 {'_id': ObjectId('6291e1184c5577003be8982b'),
  'households': 834.0,
  'housing_median_age': 18.0,
  'latitude': 34.17,
  'longitude': -118.75,
  'median_house_value': 325900.0,
  'median_income': 6.8075,
  'population': 2703.0,
  'total_bedrooms': 858.0,
  'total_rooms': 6217.0},
 {'_id': ObjectId('6291e1184c5577003be8982c'),
  'households': 957.0,
  'housing_median_age': 22.0,
  'latitude': 37.99,
  'longitude': -122.47,
  'median_house_value': 439200.0,
  'median_income': 7.494,
  'population': 2468.0,
  'total_bedrooms': 1002.0,
  'total_rooms': 7274.0},
 {'_id': ObjectId('6291e1184c5577003be8982d'),
  'households': 147.0,
  'housing_median_age': 46.0,
  'latitude': 37.4,
  'longitude': -120.69,
  'median_house_value': 137500.0,
  'median_income': 3.5167,
  'population': 496.0,

In [39]:
query_df = pd.DataFrame(list ( collection.find( { 'median_house_value': { '$gt': 100000 } } )))
query_df.to_csv('/content/sample_data/query.csv')